<html><head><meta http-equiv="Content-Type" content="text/html; charset=WINDOWS-1251"></head><script>if(is.undef(dialogWidth))dialogWidth=800;if(is.undef(dialogHeight))dialogHeight=550;function onBeforeInit(){var args = window.dialogArguments;if (is.func(args.action)){args.action(window);}else{go({url:window.dialogArguments.url,target:mfr,param:window.dialogArguments.param,lock:false})}}function evalSize(w,h) {dialogWidth=w+(parseInt(dialogWidth)-_.body.offsetWidth)+'px';dialogHeight=h+(parseInt(dialogHeight)-_.body.offsetHeight)+'px';dialogTop=(screen.availHeight-parseInt(dialogHeight))/2;dialogLeft=(screen.availWidth-parseInt(dialogWidth))/2}</script><body style='margin:0'><iframe width=100% height=100% name=mfr frameborder=0></iframe>